@import url('http://getbootstrap.com/dist/css/bootstrap.css');

 html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.table.no-border tr td, .table.no-border tr th {
  border-width: 0;
}

.table, tr { empty-cells: show; 
		
}

td .btn {
	horizontal-align: middle;
	display: block;
	margin:auto;
}

.btn {
	width: 165px;
}

  .midrw {
  	padding: 60px;
  }